/*Color Palette*/
$colorMain: #e6e6e6;
$colorSecondary: #c9c7c7;
$colorTertiary: #ff1c3a;
$colorText: rgb(51, 51, 51);
$colorShadow: rgb(121, 120, 120);

/*Mixins*/
@mixin boxShadow {
  box-shadow: 2px 2px 5px $colorShadow;
}
@mixin smoothTrans {
  transition: all 0.1s ease-in-out;
}
@mixin formStyles {
  color: $colorText;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  display: block;
  margin: auto auto;
  margin-top: 1em;
  resize: none;
}
@mixin inputStyles {
  background-color: $colorSecondary;
  color: $colorText;
  border: none;
  border-radius: 5px;
}
@mixin buttonStyles {
  @include boxShadow();
  @include smoothTrans();
  cursor: pointer;
  background-color: $colorTertiary;
  color: $colorMain;
  border: none;
  border-radius: 5px;
  text-align: center;
  padding: 1em;
  font-size: 16px;
  width: 3em;
  height: 3.2em;
    &:hover {
      transform: scale(120%);
    }
}

h1 {
  font-family: "Bebas Neue", cursive;
}
h2, p, label, input {
  font-family: "Rubik", sans-serif;
}
hr {
  border: 0;
  height: 1px;
  background: $colorSecondary;
  background-image: linear-gradient(to right, $colorMain, $colorSecondary, $colorMain);
}

.App {
  display: grid;
  grid-template-columns: 0.3fr 5fr;
  height: 100vh;
  max-height: 100vh;
  color: $colorText;
  overflow-y: hidden;
  .Navbar {
    background-color: $colorTertiary;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    z-index: 100;
    box-shadow: 5px 0px 10px $colorShadow;
    img {
      width: 90%;
      margin: auto auto;
    }
    a {
      height: 4em;
      width: 4em;
      margin: auto auto;
      button {
        @include boxShadow();
        @include smoothTrans();
        cursor: pointer;
        background-color: $colorMain;
        display: block;
        margin: auto auto;
        font-size: 2em;
        border: none;
        border-radius: 5px;
        padding: 0;
        width: 2em;
        height: 2em;
        color: $colorText;
        &:hover {
          transform: scale(120%);
          p {
            display: inline;
          }
        }
        i {
          padding: 10px;
          text-shadow: 2px 2px 5px $colorShadow;
        }
        p {
          display: none;
          font-size: 15px;
        }
      }
    }
  }
  .Campaign {
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    overflow-y: hidden;
    .toggleInput {
      @include buttonStyles();
      display: block;
      margin: auto auto;
      margin-top: 1em;
    }
    .campInfo {
      grid-row: 1/2;
      h1 {
        text-align: center;
        font-size: 60px;
      }
      p {
        text-align: center;
        display: block;
        margin: auto auto;
        font-size: 20px;
        width: 50%;
      }
    }
    form {
      grid-row: 1/2;
      input,
      textarea {
        @include boxShadow();
        @include formStyles();
        background-color: $colorSecondary;
        &.inputCampName {
          text-align: center;
        }
        &.campaignSumm {
          font-size: 16px;
        }
      }
    }
  }
  .Sessions {
    background-color: $colorSecondary;
    overflow-y: auto;
    box-shadow: inset 0px 5px 10px $colorShadow;
    h1 {
      text-align: center;
    }
    .addSession {
      @include buttonStyles();
      display: block;
      margin: auto auto;
      margin-top: 1em;
    }
    form {
      @include formStyles();
      textarea {
        background-color: $colorMain;
      }
      input {
        @include smoothTrans();
        background-color: $colorMain;
        padding: 10px;
        &.inputTitle {
          text-align: center;
        }
        &.submit {
          @include buttonStyles();
          width: auto;
          height: auto;
        }
      }
      .cancel {
        @include buttonStyles();
        display: block;
        margin: auto auto;
        margin-top: 1em;
        font-size: 1em;
        width: auto;
        height: auto;
      }
    }
  }
  .SessionEntry {
    @include boxShadow();
    background-color: $colorMain;
    text-align: justify;
    width: 50%;
    display: block;
    margin: auto auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    h1 {
      text-align: left;
    }
    button {
      @include boxShadow();
      @include smoothTrans();
      cursor: pointer;
      border-radius: 5px;
      background-color: $colorMain;
      display: inline;
      float: right;
      clear: both;
      padding: 10px;
      border: none;
      color: $colorText;
      &:hover {
        transform: scale(110%);
        background-color: $colorTertiary;
        color: $colorMain;
      }
    }
    hr {
      color: $colorSecondary;
    }
  }
  .Characters {
    display: grid;
    grid-template-rows: 0.1fr 0.1fr 1fr 1fr;
    overflow-y: auto;
    h1 {
      text-align: center;
      grid-row: 1/2;
    }
    .addChar {
      @include buttonStyles();
      display: block;
      margin: auto auto;
      margin-top: 1em;
      margin-bottom: 1em;
      grid-row: 2/3;
    }
    .CharForm {
      grid-row: 2/3;
      margin-bottom: 1em;
      form {
        .radioContainer {
          display: block;
          text-align: center;
        }
        .radioBlock {
          display: inline-block;
          margin: 1em;
          label {
            display: block;
          }
        }
        .textInputContainer {
          display: grid;
          grid-template-columns: 1fr 1fr;
          font-size: 16px;
          label {
            display: block;
            text-align: center;
            margin-top: 1em;
          }
          input {
            display: block;
            margin: auto auto;
          }
        }
      }
    }
    .CharList {
      grid-row: 3/5;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      overflow-y: auto;
      background-color: $colorSecondary;
      box-shadow: inset 0px 5px 10px $colorShadow;
      height: 100%;
      .CharEntry {
        @include boxShadow();
        display: block;
        .charData {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 0.2fr 0.5fr;
          background-color: $colorMain;
          border-radius: 5px;
          margin: 2em;
          header {
            grid-column: 1/3;
            grid-row: 1/2;
            h1, h2 {
              text-align: left;
              grid-column: 1/2;
              margin: 0;
            }
        }
        .profBonus {
          grid-column: 1/3;
          text-align: center;
        }
        .charMisc {
          grid-column: 1/2;
          grid-row: 2/3;
        }
        .charHealth {
          grid-column: 2/3;
          grid-row: 2/3;
        }
        .charStatBlock {
          grid-row: 3/4;
        }
        footer {
          grid-column: 1/3;
          display: grid;
          grid-template-columns: 1fr 1fr;
          margin-top: 2em;
          button {
            @include boxShadow();
            @include smoothTrans();
            cursor: pointer;
            width: 3em;
            height: 3em;
            display: block;
            margin: auto auto;
            border: none;
            border-radius: 5px;
            background-color: $colorSecondary;
            &:hover {
              background-color: $colorMain;
              transform: scale(120%);
            }
            i {
              font-size: 2em;
              color: $colorText;
            }
          }
        }
        .formCharEdit {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 0.2fr 0.5fr;
          label {
            display: block;
          }
          input {
            @include inputStyles();
          }
        }
        }
      }
    }
  }
}

/*Media Queries*/
@media only screen and (max-width: 770px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 0.1fr;
    .Navbar {
      grid-row: 2/3;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      img {
        width: 30%;
      }
      button {
        font-size: 30px;
      }
    }
    .Campaign {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    .Characters {
      .CharList {
        grid-template-columns: 1fr;
      }
    }
  }
}
