/*Color Palette*/
$bgColor: #e6e6e6;
$bgSecondary: #c9c7c7;
$bgTertiary: #ff1c3a;
$textColor: rgb(51, 51, 51);
$shadow: rgb(121, 120, 120);

/*Mixins*/
@mixin boxShadow {
  box-shadow: 2px 2px 5px $shadow;
}
@mixin smoothTrans {
  transition: all 0.1s ease-in-out;
}
@mixin formStyles {
  color: $textColor;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  display: block;
  margin: auto auto;
  margin-top: 1em;
  resize: none;
}
@mixin inputStyles {
  background-color: $bgSecondary;
  color: $textColor;
  border: none;
  border-radius: 5px;
}

h1 {
  font-family: "Bebas Neue", cursive;
}
p {
  font-family: "Rubik", sans-serif;
}
hr {
  border: 0;
  height: 1px;
  background: $bgSecondary;
  background-image: linear-gradient(to right, $bgColor, $bgSecondary, $bgColor);
}

.App {
  display: grid;
  grid-template-columns: 0.3fr 5fr;
  height: 100vh;
  max-height: 100vh;
  color: $textColor;
  overflow-y: hidden;
  .Navbar {
    background-color: $bgTertiary;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    z-index: 100;
    box-shadow: 5px 0px 10px $shadow;
    img {
      width: 90%;
      margin: auto auto;
    }
    a {
      height: 4em;
      width: 4em;
      margin: auto auto;
      button {
        @include boxShadow();
        @include smoothTrans();
        cursor: pointer;
        background-color: $bgColor;
        display: block;
        margin: auto auto;
        font-size: 2em;
        border: none;
        border-radius: 5px;
        padding: 0;
        width: 2em;
        height: 2em;
        color: $textColor;
        &:hover {
          transform: scale(120%);
          p {
            display: inline;
          }
        }
        i {
          padding: 10px;
          text-shadow: 2px 2px 5px $shadow;
        }
        p {
          display: none;
          font-size: 15px;
        }
      }
    }
  }
  .Campaign {
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    overflow-y: hidden;
    .toggleInput {
      @include boxShadow();
      @include smoothTrans();
      cursor: pointer;
      background-color: $bgTertiary;
      color: $bgColor;
      border: none;
      border-radius: 5px;
      display: block;
      text-align: center;
      margin: auto auto;
      margin-top: 1em;
      padding: 10px;
      font-size: 16px;
      &:hover {
        transform: scale(120%);
      }
    }
    .campInfo {
      grid-row: 1/2;
      h1 {
        text-align: center;
        font-size: 60px;
      }
      p {
        text-align: center;
        display: block;
        margin: auto auto;
        font-size: 20px;
        width: 50%;
      }
    }
    form {
      grid-row: 1/2;
      input,
      textarea {
        @include boxShadow();
        @include formStyles();
        background-color: $bgSecondary;
        &.inputCampName {
          text-align: center;
        }
        &.campaignSumm {
          font-size: 16px;
        }
      }
    }
  }
  .Sessions {
    background-color: $bgSecondary;
    overflow-y: auto;
    box-shadow: inset 0px 5px 10px $shadow;
    h1 {
      text-align: center;
    }
    .addSession {
      @include boxShadow();
      @include smoothTrans();
      cursor: pointer;
      background-color: $bgTertiary;
      color: $bgColor;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      padding: 10px;
      display: block;
      margin: auto auto;
      margin-top: 1em;
      &:hover {
        transform: scale(120%);
      }
    }
    form {
      @include formStyles();
      textarea {
        background-color: $bgColor;
      }
      input {
        @include smoothTrans();
        background-color: $bgColor;
        padding: 10px;
        &.inputTitle {
          text-align: center;
        }
        &.submit {
          cursor: pointer;
          background-color: $bgTertiary;
          color: $bgColor;
          &:hover {
            transform: scale(120%);
          }
        }
      }
      .cancel {
        cursor: pointer;
        @include boxShadow();
        @include smoothTrans();
        background-color: $bgTertiary;
        color: $bgColor;
        display: block;
        margin: auto auto;
        margin-top: 1em;
        border: none;
        border-radius: 5px;
        padding: 10px;
        font-size: 1em;
        &:hover {
          transform: scale(120%);
        }
      }
    }
  }
  .SessionEntry {
    @include boxShadow();
    background-color: $bgColor;
    text-align: justify;
    width: 50%;
    display: block;
    margin: auto auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    h1 {
      text-align: left;
    }
    button {
      @include boxShadow();
      @include smoothTrans();
      cursor: pointer;
      border-radius: 5px;
      background-color: $bgColor;
      display: inline;
      float: right;
      clear: both;
      padding: 10px;
      border: none;
      color: $textColor;
      &:hover {
        transform: scale(110%);
        background-color: $bgTertiary;
        color: $bgColor;
      }
    }
    hr {
      color: $bgSecondary;
    }
  }
  .Characters {
    h1 {
      text-align: center;
    }
    .addChar {
      @include smoothTrans();
      cursor: pointer;
      background-color: $bgTertiary;
      color: $bgColor;
      width: 1em;
      border: none;
      border-radius: 5px;
      display: block;
      margin: auto auto;
      margin-top: 1em;
      font-size: 2em;
      &:hover {
        transform: scale(120%);
      }
    }
    .CharForm {
      form {
        .radioContainer {
          display: block;
          text-align: center;
        }
        .radioBlock {
          display: inline-block;
          margin: 1em;
          label {
            display: block;
          }
        }
        .textInputContainer {
          display: grid;
          grid-template-columns: 1fr 1fr;
          font-size: 16px;
          label {
            display: block;
            text-align: center;
            margin-top: 1em;
          }
          input {
            display: block;
            margin: auto auto;
          }
        }
      }
    }
    .CharList {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      overflow-y: scroll;
      background-color: $bgSecondary;
      .CharEntry {
        @include boxShadow();
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.2fr 0.5fr;
        background-color: $bgColor;
        border-radius: 5px;
        margin: 2em;
        padding: 3em;
        header {
          grid-column: 1/3;
          grid-row: 1/2;
          h1, h2 {
            text-align: left;
            grid-column: 1/2;
            margin: 0;
          }
        }
        .profBonus {
          grid-column: 1/3;
          text-align: center;
        }
        .charMisc {
          grid-column: 1/2;
          grid-row: 2/3;
        }
        .charHealth {
          grid-column: 2/3;
          grid-row: 2/3;
        }
        .charStatBlock {
          grid-row: 3/4;
        }
        footer {
          grid-column: 1/3;
          display: grid;
          grid-template-columns: 1fr 1fr;
          margin-top: 2em;
          button {
            @include boxShadow();
            @include smoothTrans();
            cursor: pointer;
            width: 3em;
            height: 3em;
            display: block;
            margin: auto auto;
            border: none;
            border-radius: 5px;
            background-color: $bgSecondary;
            &:hover {
              background-color: $bgColor;
              transform: scale(120%);
            }
            i {
              font-size: 2em;
              color: $textColor;
            }
          }
        }
      }
    }
  }
}

/*Media Queries*/
@media only screen and (max-width: 770px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 0.1fr;
    .Navbar {
      grid-row: 2/3;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      img {
        width: 30%;
      }
      button {
        font-size: 30px;
      }
    }
    .Campaign {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    .Characters {
      .CharList {
        grid-template-columns: 1fr;
      }
    }
  }
}
